<link rel="stylesheet" href="/style/style.css">
{{>header}}

<div class="category_filters">
    <a href="/activities" class="{{#unless selectedCategory}}active{{/unless}}">All</a>
    {{#each categories}}
        <a href="/activities?category={{this.id}}" class="{{#if (eq ../selectedCategory this.id)}}active{{/if}}">
            {{this.name}}
        </a>
    {{/each}}
</div>

<section class="news_section">
    <div class="news_section_div"> 
        {{#each news}}
            <div class="news-item">
                <a href="/news/{{this.id}}">
                    <div class="news_item_image">
                        {{#if this.image}}
                            <img src="{{this.image}}" width="300" />
                        {{/if}}
                    </div>
                    <div class="news_item_title">
                        <h2>{{this.title}}</h2>
                        <p><strong>{{this.category_name}}</strong></p>
                        <p>{{{this.shortContent}}}</p>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</section>

{{>footer}}
